%center
    %h1 Users Page


%script{:src => "https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"}
%link{:href => "https://cdn.datatables.net/1.10.15/css/jquery.dataTables.css", :rel => "stylesheet"}/
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/


%center
    

    .container
        .table-responsive.--margintop16#studentsTB
            %table{:id=>'students',:class=>'default table table-hover'}
                %thead
                    %tr
                    %th Name
                    %th Email
                    %th Admin
                    %th
                    

                %tbody
                    - @users.each do |user|
                        %tr
                            %td= user.name
                            %td= user.email
                            %td= user.is_admin
                            %td
                                = link_to user_delete_path(user), :method=>:delete, :data=>{:confirm=>"Are you sure you want to delete this user? "} do
                                    %i{:class=>'fa fa-trash'}


%br
%br
%br
   
